.alert_wrapper  {
  .alert {
    margin-top: 10px;
    padding: 15px 29px 15px 15px;
  }
  .success {
    background: #edfbf6;
    color: #32d296;
  }
  .error {
    background: #fef4f6;
    color: #f0506e;
  }  
}