.input_item {
  position: relative; }
  .input_item input, .input_item textarea {
    appearance: none;
    width: 100%;
    padding: 11px;
    margin: 0px 0 24px 0;
    border-radius: 4px;
    font-size: 16px;
    border: solid 1px #e0e0e0;
    transition: 0.3s; }
  .input_item input:focus, .input_item textarea:focus {
    outline: 0;
    background-color: #fff;
    color: #666;
    border-color: #1e87f0; }

.error_message {
  bottom: 4px;
  left: 5px; }
